<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <!-- this is not the way to access file in express -->
    <!-- <link rel="stylesheet" href="../public/shop.css"> -->

    <!-- only write file name by adding because already public folder added in app.js -->
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-item">
                    <a href="/">Shop</a>
                </li>
                <li class="main-header-item">
                    <a href="/admin/add-product">Add Product</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to shop!</h1>
        <ul>
            <li>Product 1</li>
            <li>Product 2</li>
        </ul>
    </main>
</body>
</html>